@media screen and (max-width:600px) {
       .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }
    .item{
         margin-top: 40px;
         width: 70%;
         height: 70%;

    }
    .carrosel{
        width: 70%;
        height: 70%;

    }
}
@media screen and (min-width:1000px) {
    .decrição{
        width: 50%;
    }
}
